<div class= "container">
    <div class="row">
<img src="{{image_url}}" alt="sorry, no beer for you" height= "60px" class="whoiswho"> 
    <a href="/beers/beer-{{id}}"><h2>{{name}}</h2></a>
    </div>
    </div>
<div class="container">
    <div class= "row">
    <p class="tagline">{{tagline}} </p>
    </div>
    <div class= "row">
    <p class="descriptionend">{{description}} </p> 
</div>
</div>