
<div class="container">
<img src="{{randomBeerFromApi.image_url}}" alt="sorry, no beer for you" height= "80px"> 

<h2>{{randomBeerFromApi.name}} </h2> 
<p class= "tagline">{{randomBeerFromApi.tagline}} </p>
<p>{{randomBeerFromApi.description}} </p>


<h3>It goes well with...</h3>
<p>{{randomBeerFromApi.food_pairing}} </p>
<h3>Some tips for brewing this beer...</h3>
<p>{{randomBeerFromApi.brewers_tips}} </p>

</div>